astroid==2.5.1
autopep8==1.5.6
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
idna==2.10
isort==5.8.0
Jinja2==2.11.3
lazy-object-proxy==1.5.2
MarkupSafe==1.1.1
mccabe==0.6.1
pdoc==6.4.1
pycodestyle==2.7.0
Pygments==2.8.1
pylint==2.7.2
PyYAML==5.4.1
requests==2.25.1
toml==0.10.2
urllib3==1.26.4
wrapt==1.12.1
